<div style="font-family: Bahnschrift,Candara,Calibri; font-size: 18px;">
    <pre>
    <b>Sayın ViewBag.UserFullName,</b>

     Kurtarma e-postanız sisteme eklendi. Aktif olması için kurtarma e-postanızı doğrulamanız gerekmektedir.
     Aşağıda yer alan linke tıklayarak kurtarma e-postanızı onaylayablirsiniz. Bu e-postanın yanlış kişiye geldiğini düşünüyorsanız, dikkate almayınız.

    <a href="ViewBag.Link">Kurtarma e-postasını doğrula</a>
    </pre>
</div>