<div style="font-family: Bahnschrift,Candara,Calibri; font-size: 18px;">
    <pre>
    <b>Sayın ViewBag.UserFullName,</b>

     Hesabınız başarıyla oluşturuldu. Hesabınızın aktif olması için sistemde kayıtlı olan e-posta adresinizi doğrulamanız gerekmektedir.
     Aşağıda yer alan linke tıklayarak e-postanızı onaylayablirsiniz. Bu e-postanın yanlış kişiye geldiğini düşünüyorsanız, dikkate almayınız.

     <a href="ViewBag.Link">E-posta adresini doğrula</a>
    </pre>
</div>