<div style="font-family: Bahnschrift,Candara,Calibri; font-size: 18px;">
    <pre>
    <b>Sayın ViewBag.UserFullName,</b>

     Hesabınızda tanımlı olan e-posta adresi değişmiştir. Eğer bu işlemin yanlışlık ile veya farklı bir kişi tarafından yapıldığını düşünüyorsanız,
     lütfen bizim ile iletişime geçin. Bu e-postanın yanlış kişiye geldiğini düşünüyorsanız, dikkate almayınız.

    </pre>
</div>